* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249);
}

.container-logo {
    background-color: rgb(255,255, 255);
    height: 80px;
    font-size: 40px;
    padding: 15px 20px;
}

.logo {
    line-height: 60px;
    vertical-align: middle;
}